html,
body {
  background: hsl(32, 93%, 93%);
}

html {
  margin: 0 12px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: hsl(218, 100%, 32%);
  max-width: calc(14px * 36);
  margin: 0 auto;
  padding-top: 72px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 12px 0;
}

header h1::after {
  content: '👋';
  padding-left: 8px;
}

section {
  margin-top: 48px;
}

li {
  padding-bottom: 6px;
}

p + p {
  margin-top: 12px
}

.grey-700 {
    color: hsl(218, 34%, 47%);
}

.type-100 {
  font-size: 10px;
  line-height: 12px;
}

.type-200 {
  font-size: 12px;
  line-height: 16px;
}

.type-300 {
  font-size: 14px;
  line-height: 20px;
}

.type-400 {
  font-size: 16px;
  line-height: 24px;
}

.type-500 {
  font-size: 20px;
  line-height: 28px;
}

.type-600 {
  font-size: 24px;
  line-height: 32px;
}

.type-700 {
  font-size: 30px;
  line-height: 36px;
}
